@charset "utf-8";
/* CSS Document */

.blog_date_left {
	float: left;
	width: 99px;
}
.space_h1{
	float: left;
	width: 760px;
	margin-top: -2px;
	margin-left: 21px;
	height: 35px;
}
.space_h2 {
	float: left;
	width: 490px;
	margin-top: 28px;
	margin-left: 16px;
	height: 20px;
}
.space_h2_2 {
	float: left;
	width: 638px;
	margin-top: 28px;
	margin-left: 16px;
	height:45px;
}
.container_left_date{
	float:left;
	width:84px;
	height:74px;
	text-align:right;
	padding-top:20px;
	padding-right:15px;
	font-family: 'ITCFranklinGothicStdBookBold';
	font-size:23px;
	color:#414042;
	font-weight: normal;
	margin-bottom:25px;
}
.space_blog {
	float: left;
	width: 763px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C0E0F1;
	margin-top: 1px;
}
.box_blog {
	float: left;
	width: 655px;
	
}
.article_thumb_img{
	float:left;
	-moz-box-shadow: 0px 0px 8px #666; /* Firefox 3.6 and earlier */
	box-shadow: 0px 0px 8px #666;
}
.container_date_blog{
	float:left;
	width:310px;
	height:15px;
	margin-top:9px;
}
.container_date_blog_int{
	float:left;
	width:200px;
	height:15px;
	margin-top:9px;
}
.container_module_blog{
	float:left;
	width:645px;
	height:85px;
	margin-top:33px;
	margin-left:16px;
	border-bottom:1px solid #d6d6d6;
}
.container_module_blog_int_text{
	float:left;
	width:645px;
	margin-top:33px;
	margin-left:16px;
	border-bottom:1px solid #d6d6d6;
}
.contaner_bt_readmore{
	float:left;
	width:265px;
	height:15px;
	margin-top:9px;
	text-decoration:underline;
	color:#0081c6;
	text-align: right;
	cursor: pointer;
}
.contaner_bt_newpost{
	float:left;
	width:265px;
	height:15px;
	margin-top:9px;
	text-decoration:underline;
	color:#0081c6;
	text-align: right;
	cursor: pointer;
	margin-left:100px;
}
.container_page_number{
	float:left;
	width:70px;
	height:15px;
	margin-left:690px;
	margin-top:12px;
}

.bt_comment{
	float:left; 
	width:70px; 
	height:15px; 
	margin-top:9px;
	border-left: solid 1px #58595b;
	padding-left:6px;
}
.comment_ico{
	float:left;
	width:16px;
	height:14px;
}